// 字體
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
// 字型
$font-title: 'Bungee Hairline',
cursive;
$font-text: 'Rajdhani',
sans-serif;
// 字重
$font-weight-title:1000;
$font-weight-subtitle:800;
$font-weight-text:600;